@font-face {
    font-family: 'Oswald';
    src: url(./Oswald-VariableFont_wght.ttf) format('truetype'); 
}

@font-face {
    font-family: 'Lato';
    src: url(https://fonts.google.com/specimen/Lato) format('truetype');
    font-weight: normal;
}

body{
    background: rgb(58,165,164);
    background: linear-gradient(180deg, rgba(58,165,164,1) 35%, rgba(122,229,228,1) 100%);
    font-weight: normal;
    padding: 40px;
}


h1 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

h2 {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-weight: lighter;
    text-align: center;
}

.intro{
    border: thick;
    background-color: #FFFFFF;
}

.intro h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: lighter;
    position:relative;
    top: 10px;
    left: 40px;
    right: 5px;
    width: 700px;
    margin-left: 25px;
}

.intro img{
    position: relative;
    top: 5px;
    left: 20px;
    right: 5px;
    margin-left: 20px;
}

.intro p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #000000;
    position: relative;
    top: -180px;
    left: 240px;
    right: 5px;
    width: 870px;
    margin-left: 15px;
}

.projects {
    background-color: #FFFFFF;
    border: thick;
    overflow: hidden;
}

.projects img{
    width: 200px;
    height: 200px;
}

.projects h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: lighter;
    position:relative;
    top: 10px;
    left: 40px;
    right: 5px;
    width: 700px;
}

.projects h4{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: lighter;
    margin-left: 10px;
}

.discord{
    float: left;
    margin-left: 30px;
    margin-right: 500px;
}

.work{
    background-color: #FFFFFF;
    border: thick;
    padding: 20px;
    margin-top: 20px;
}

.work h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: lighter;
    margin-top: 10px;
}

.work h4{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: lighter;
}

.work p{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #000000;
    margin-left: 20px;
}


.education{
    background-color: #FFFFFF;
    border: thick;
    padding: 20px;
    margin-top: 20px;
}

.education h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 10px;
}

.education p{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: #000000;
    margin-left: 40px;
}

.education h4{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: light;
    color: #000000;
    margin-left: 20px;
    margin-top: 14px;
}

.language{
    background-color: #FFFFFF;
    border: thick;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.language h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: lighter;
    margin-left: 10px;
}

.language p{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #000000;
    margin-left: 20px;
}

.socmed{
    background-color: #FFFFFF;
    border: thick;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.socmed h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    color: #000000;
    margin-left: 10px;
}

.deescord{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #000000;
    margin-left: 20px;
}

.contact{
    background-color: #FFFFFF;
    border: thick;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.contact h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    color: #000000;
    margin-left: 10px;
}

form{
    width: 100%;
    overflow: hidden;
}

input{
    width: 95%;
    padding: .6rem .4rem;
    margin: .2rem;
    background-color: lightgray;
    outline: none;
    border: none;
}

input::placeholder{
    padding: 4em 1em;
}

textarea{
    width: 95%;
    padding: .6rem .5rem;
    margin: .2rem 0;
    background-color: lightgray;
    outline: none;
    border: none;
}

textarea::placeholder{
    padding: 0rem 1rem;
}

form .text {
    width: 100%;
}

form button{
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: black;
    padding: .4rem 1rem;
    cursor: pointer;
    transition: 1ms ease-in;
}

form button:hover {
    color: white;
    background-color: #3AA5A4;
}